@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
:root {
  --boxshadow: 8px 8px 0.4em rgba(0, 0, 0, 0.25);
  --metric-box-spacing: 0.5em;
  --metric-radius: 8px;
  --color-primary: linear-gradient(
    to right bottom,
    #4e4174,
    #aa569e,
    #cf5eb0 55%,
    #9862df,
    #4f1b92
  );
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --btn-primary: #5c469c;
  --btn-secondary: #4f1b92;
  --btn-tertiary: #9862df;
  --btn-quaternary: #cf5eb0;
  --glass-shadow: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  --text-color: #ffffff;
  --text-color-dark: #000000;
  --gap-between-card: 20px;
  --gap-between-card-mini: 15px;
  --glass-shine: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Diphylleia", sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: var(--text-color);
  background: var(--color-primary);
}

a,
ul,
li,
input {
  all: unset;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
}
h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
}
h3 {
  font-weight: var(--font-weight-light);
  opacity: 0.8;
}
p {
  font-weight: var(--font-weight-normal);
  opacity: 0.8;
}

/* Input */
input::placeholder {
  font-weight: 400;
  opacity: 0.8;
  color: rgb(53, 51, 51);
}

/* LAYOUT */
/* Set core body defaults */
body {
  display: grid;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  grid-template-areas: "a a a" "b b b" "c c c";
}
/* Make images easier to work with */
img,
picture {
  zoom: 1;
  display: block;
  margin: auto;

  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%;
  border-radius: var(--metric-radius);
}
header {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}
nav {
  grid-area: a;
  font-size: var(--font-size-medium);
}
.profile > img {
  width: 32px;
  height: 32px;
}
.search {
  background-color: aliceblue;
  flex: 1;
  border-radius: var(--metric-radius);
  max-width: 300px;
  padding: 5px;
  display: flex;
}
.border {
  border: solid white 5px;
}

/* Mobile menu */
.nav-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: var(--metric-box-spacing);
  margin-left: var(--metric-box-spacing);
}
.nav-row li a {
  display: block;
  padding: 15px 5px;
}
.nav-row li a:hover {
  text-decoration: underline solid white;
  text-underline-offset: 10px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}

.nav-row a:hover {
  cursor: pointer;
}

main {
  grid-area: b;
  padding: var(--metric-box-spacing);
}
footer {
  grid-area: c;
}

/* Material (background color, glass, circle glass */
.nav-items {
  border-radius: 15px;
}
.glass-material {
  background: var(--glass-shadow);
  z-index: 2;
  backdrop-filter: blur(2px);
  /* Add the blur effect */
}

/* Elements:button, avatar, image in menu-item */
button {
  max-width: 200px;
  min-width: 150px;
  display: inline-flex;
  padding: 8px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: var(--text-color);
  font-weight: 100;
  font-size: 24px;
}
.btn-primary {
  border: 3px solid #fff;
  background: var(--btn-primary);
}

button > img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.avatar {
  justify-content: center;
  align-items: center;
}
.menu-item > img {
  width: 32px;
  height: 32px;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 100;
  align-items: center;
}

.menu-middle {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}
/* MENU ITEMS */
.menu-item {
  display: flex;
  gap: 10px;
  padding: 10px 10px;
  align-items: center;
}
.menu-bottom {
  margin-top: 40px;
}

/* Profile User include: Edit, login... */
.sideNav {
  left: var(--metric-box-spacing);
  position: absolute;
  overflow: hidden;
  transition: 0.5s;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 15px;
  width: 0;
  box-shadow: var(--glass-shadow);
  z-index: 4;
  color: black;
  backdrop-filter: blur(10px);
  border: none;
}
.sideNav .closebtn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 25px;
}
div#openMenu {
  z-index: 100;
  top: var(--metric-box-spacing);
  height: inherit;
}

/* NAV, HEADER */

/* SEARCH BAR (this week, today, ...)*/

.nav-items-sm > .glass-material > a:hover {
  font-weight: 600;
  box-shadow: var(--boxshadow);
  border-radius: 15px;
  padding: 5px;
}

/* CARD */
.card {
  border-radius: var(--metric-radius);

  display: flex;
  flex-direction: row;
  align-items: center;
}
.shadow {
  box-shadow: var(--boxshadow);
}
.gradient-border {
  border-image: linear-gradient(
    45deg,
    rgb(249 249 251) 0%,
    rgb(243 241 241 / 3%) 100%
  );
  border-image-slice: 1;
  border-style: solid;
}

.card-mini {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  padding: var(--metric-box-spacing);
  border-radius: var(--metric-radius);
  justify-content: center;
  place-items: center;
}
.card-info {
  text-align: center;
}
.card:nth-child(5) > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info > h1,
h2,
h3,
p {
  margin: 0;
}

/* Mobile: default + DIFFERENT LAYOUT */
.profile > img {
  order: -1;
  width: 24px;
  height: 24px;
}
.toggle > img {
  order: -1;
  width: 24px;
  height: 24px;
}
.card-image {
  width: 60%;
}
@media (max-width: 480px) {
  /* Base */
  .card {
    border-radius: var(--metric-radius);
    box-shadow: var(--generic-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row-card {
    display: flex;
    flex-direction: row;
    width: inherit;
    overflow-x: auto;
  }
  .card-mini {
    display: flex;
    flex-direction: column;
    padding: var(--metric-box-spacing);
    border-radius: var(--metric-radius);
    box-shadow: var(--generic-shadow);

    /* Scroll */
    flex: 1 auto;
    overflow-x: scroll;
    white-space: nowrap;
    min-width: 150px;
    height: 100%;
  }
  .row-card {
    gap: var(--gap-between-card-mini);
  }
  .container {
    display: grid;
    gap: 10px;
    grid-template-rows: 3fr auto;
    min-height: 100vh;
  }
  .card .row-card {
    grid-row: 2/3;
  }

  /* MAIN */
  .wrapper {
    width: 100%;
    justify-content: center;
    max-width: 1200px;
    display: flex;
  }
  .wrapper i {
    z-index: 10;
    top: 50%;
    height: 44px;
    width: 44px;
    line-height: 44px;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    cursor: pointer;
    color: #d10ea0;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
    background: var(--glass-shadow);
  }
  .wrapper i:active {
    transform: translateY(-50%) scale(0.9);
  }

  .wrapper i:first-child {
    left: -1px;
  }
  .wrapper i:last-child {
    right: -1px;
  }
  .wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel .dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel .dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 100%;
    list-style: none;
    cursor: pointer;
    flex-direction: column;
  }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container i {
    display: none;
  }
  img {
    zoom: 2;
  }
  h1,
  h2 {
    font-size: var(--font-size-small);
  }
  .profile > img {
    order: -1;
    width: 34px;
    height: 34px;
  }
  img {
    zoom: 1;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: var(--gap-between-card);
  }
  .row-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-between-card-mini);
    border-radius: var(--metric-radius);
  }
  .card:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .card:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .card:nth-child(3) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .card:nth-child(4) {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .card:nth-child(5) {
    display: none;
  }
  .card {
    flex-direction: column;
  }
  .card-mini > .card-image > img {
    height: 50px;
  }

  .card-info {
    padding: var(--metric-box-spacing);
  }
  .card {
    flex-direction: column;
    justify-content: center;
  }
}
/* Laptop */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container i {
    display: none;
  }
  img {
    zoom: 1;
  }
  h1,
  h2 {
    font-size: var(--font-size-medium);
  }
  .search {
    order: 4;
    max-width: 300px;
    min-width: 200px;
  }
  .search > img {
    order: -1;
    width: 24px;
    height: 24px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: var(--gap-between-card);
  }

  .card:nth-child(2) {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .card:nth-child(3) {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .card:nth-child(4) {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .card:nth-child(5) {
    grid-column: 4/6;
    grid-row: 3/4;
  }
  .row-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-between-card-mini);
    border-radius: var(--metric-radius);
    grid-column: 4/6;
    grid-row: 2/3;
  }
  .card {
    flex-direction: row;
    justify-content: center;
  }
  .card-mini > .card-image > img {
    height: 50px;
  }
  .item {
    order: 3;
    position: relative;
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
}
/* Desktop */
@media screen and (min-width: 1025px) {
  .container i {
    display: none;
  }
  .card-image {
    width: 100%;
  }
  h1,
  h2 {
    font-size: var(--font-size-large);
  }
  .profile > img {
    width: 50px;
    height: 50px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: var(--gap-between-card);
  }

  .card:nth-child(2) {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .card:nth-child(3) {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  .card:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .card:nth-child(5) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .card {
    flex-direction: column;
    justify-content: center;
  }
  .row-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-between-card-mini);
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .card-mini {
    align-content: center;
    justify-content: center;
  }
  .profile > img {
    order: -1;
    width: 44px;
    height: 44px;
  }
  .item {
    order: 2;
    position: relative;
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .search {
    order: 3;
    max-width: 300px;
    min-width: 200px;
  }
}
